<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{% url 'whois' %}">
    {% csrf_token %}
    <input type="text" name="domain_name" placeholder="Enter domain name">
    <button type="submit">Lookup</button>
</form>

{% if response %}
    <h2>WHOIS Response:</h2>
    <ul>
        {% for key, value in response %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
{% elif error %}
    <p>Error: {{ error }}</p>
{% endif %}

<!-- Hashing Form -->
<form method="post" action="{% url 'hash' %}">
    {% csrf_token %}
    <input type="text" name="input_string" placeholder="Enter string to hash">
    <button type="submit">Hash</button>
</form>

{% if hash_results %}
    <h2>Hash Results:</h2>
    <ul>
        {% for algo, hash in hash_results.items %}
            <li>{{ algo }}: {{ hash }}</li>
        {% endfor %}
    </ul>
{% endif %}


</body>
</html>